services:
  mirotalk:
    image: mirotalk/p2p:latest
    container_name: mirotalk
    hostname: mirotalk
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      - TRUST_PROXY=${TRUST_PROXY}
      - TZ=${TZ}

      - LOGS_DEBUG=${LOGS_DEBUG}
      - LOGS_COLORS=${LOGS_COLORS}

      - CORS_ORIGIN=${CORS_ORIGIN}
      - CORS_METHODS=${CORS_METHODS}

      - IP_WHITELIST_ENABLED=${IP_WHITELIST_ENABLED}
      - IP_WHITELIST_ALLOWED=${IP_WHITELIST_ALLOWED}

      - OIDC_ENABLED=${OIDC_ENABLED}
      - OIDC_ALLOW_ROOMS_CREATION_FOR_AUTH_USERS=${OIDC_ALLOW_ROOMS_CREATION_FOR_AUTH_USERS}
      - OIDC_BASE_URL_DYNAMIC=${OIDC_BASE_URL_DYNAMIC}
      - OIDC_ISSUER_BASE_URL=${OIDC_ISSUER_BASE_URL}
      - OIDC_BASE_URL=${OIDC_BASE_URL}
      - OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
      - OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}
      - OIDC_AUTH_REQUIRED=${OIDC_AUTH_REQUIRED}
      - OIDC_AUTH_LOGOUT=${OIDC_AUTH_LOGOUT}

      - SESSION_SECRET=${SESSION_SECRET}
      - HOST_PROTECTED=${HOST_PROTECTED}
      - HOST_USER_AUTH=${HOST_USER_AUTH}

      - JWT_KEY=${JWT_KEY}
      - JWT_EXP=${JWT_EXP}

      - PRESENTERS=${PRESENTERS}

      - NGROK_ENABLED=${NGROK_ENABLED}
      - NGROK_AUTH_TOKEN=${NGROK_AUTH_TOKEN}

      - STUN_SERVER_ENABLED=${STUN_SERVER_ENABLED}
      - STUN_SERVER_URL=${STUN_SERVER_URL}
      - TURN_SERVER_ENABLED=${TURN_SERVER_ENABLED}
      - TURN_SERVER_URL=${TURN_SERVER_URL}
      - TURN_SERVER_USERNAME=${TURN_SERVER_USERNAME}
      - TURN_SERVER_CREDENTIAL=${TURN_SERVER_CREDENTIAL}

      - IP_LOOKUP_ENABLED=${IP_LOOKUP_ENABLED}

      - API_KEY_SECRET=${API_KEY_SECRET}
      - API_DISABLED=${API_DISABLED}

      - SURVEY_ENABLED=${SURVEY_ENABLED}
      - SURVEY_URL=${SURVEY_URL}
      - REDIRECT_ENABLED=${REDIRECT_ENABLED}
      - REDIRECT_URL=${REDIRECT_URL}

      - SENTRY_ENABLED=${SENTRY_ENABLED}
      - SENTRY_LOG_LEVELS=${SENTRY_LOG_LEVELS}
      - SENTRY_DSN=${SENTRY_DSN}
      - SENTRY_TRACES_SAMPLE_RATE=${SENTRY_TRACES_SAMPLE_RATE}

      - SLACK_ENABLED=${SLACK_ENABLED}
      - SLACK_SIGNING_SECRET=${SLACK_SIGNING_SECRET}

      - MATTERMOST_ENABLED=${MATTERMOST_ENABLED}
      - MATTERMOST_SERVER_URL=${MATTERMOST_SERVER_URL}
      - MATTERMOST_USERNAME=${MATTERMOST_USERNAME}
      - MATTERMOST_PASSWORD=${MATTERMOST_PASSWORD}
      - MATTERMOST_TOKEN=${MATTERMOST_TOKEN}
      - MATTERMOST_ROOM_TOKEN_EXPIRE=${MATTERMOST_ROOM_TOKEN_EXPIRE}

      - CHATGPT_ENABLED=${CHATGPT_ENABLED}
      - CHATGPT_BASE_PATH=${CHATGPT_BASE_PATH}
      - CHATGPT_APIKEY=${CHATGPT_APIKEY}
      - CHATGPT_MODEL=${CHATGPT_MODEL}
      - CHATGPT_MAX_TOKENS=${CHATGPT_MAX_TOKENS}
      - CHATGPT_TEMPERATURE=${CHATGPT_TEMPERATURE}

      - EMAIL_ALERT=${EMAIL_ALERT}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USERNAME=${EMAIL_USERNAME}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
      - EMAIL_FROM=${EMAIL_FROM}
      - EMAIL_SEND_TO=${EMAIL_SEND_TO}

      - STATS_ENABLED=${STATS_ENABLED}
      - STATS_SCR=${STATS_SCR}
      - STATS_ID=${STATS_ID}
    ports:
      - "3000:3000"
