services:
  grafana:
    image: grafana/grafana-oss:12.1.0
    container_name: grafana
    restart: unless-stopped
    # if you are running as root then set it to 0
    # else find the right id with the id -u command
    user: '0'
    environment:
      - GF_SERVER_ROOT_URL=${GF_SERVER_ROOT_URL}
    #ports:
    #  - '3000:3000'
    # adding the mount volume point which we create earlier
    volumes:
      - '${GRAFANA_STORAGE_PATH}/data:/var/lib/grafana'
    networks:
      - nginx
      - grafana # for connecting loki and prometheus with it but not exposing using npm


  loki:
    image: grafana/loki:3.5.3
    container_name: loki
    restart: unless-stopped
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ${LOKI_CONFIG_PATH}/loki-config.yaml:/etc/loki/local-config.yaml
    networks:
      - grafana
      - nginx # exposed behid reverse proxy with basic auth

  prometheus:
    image: prom/prometheus:v3.5.0
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ${PROM_CONFIG_PATH}/prometheus.yaml:/etc/prometheus/prometheus.yaml
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    networks:
      - grafana


networks:
  nginx:
    external: true
  grafana:
    external : true