services:
  # using shared_postgres database
  # db:
  # image: postgres:latest
  # restart: unless-stopped
  # environment:
  #   POSTGRES_DB: "passbolt"
  #   POSTGRES_USER: "passbolt"
  #   POSTGRES_PASSWORD: "P4ssb0lt"
  # volumes:
  #   - database_volume:/var/lib/postgresql/data

  passbolt:
    image: passbolt/passbolt:5.3.2-1-ce
    #Alternatively you can use rootless:
    #image: passbolt/passbolt:latest-ce-non-root
    restart: always
    environment:
      APP_FULL_BASE_URL: ${APP_FULL_BASE_URL}  #https://passbolt.local
      DATASOURCES_DEFAULT_DRIVER: Cake\Database\Driver\Postgres
      DATASOURCES_DEFAULT_ENCODING: "utf8"
      DATASOURCES_DEFAULT_URL: ${DATASOURCES_DEFAULT_URL} #"postgres://POSTGRES_USER:POSTGRES_PASSWORD@db:5432/POSTGRES_DB?schema=passbolt"
    volumes:
      - ${PASSBOLT_VOLUME_PATH_GPG}:/etc/passbolt/gpg
      - ${PASSBOLT_VOLUME_PATH_JWT}:/etc/passbolt/jwt
    networks:
      - nginx
      - shared_postgres
    command:
      [
        "/usr/bin/wait-for.sh",
        "-t",
        "0",
        "postgres:5432",
        "--",
        "/docker-entrypoint.sh",
      ]
    #ports:
    #  - 80:80
    #  - 443:443. using npm
    #Alternatively for non-root images:
    # - 80:8080
    # - 443:4433

networks:
  nginx:
    external: true
  shared_postgres:
    external: true
