version: "3.3"
services:
  ghost:
    image: ghost:latest
    restart: always
    #ports:
    #  - "2368:2368"
    depends_on:
      - db
    environment:
      database__client: mysql
      database__connection__host: db
      database__connection__user: ghost
      database__connection__password: ghostdbpass
      database__connection__database: ghostdb
      url: ${url} # http://localhost:2368
      mail__transport: ${mail__transport} # SMTP
      mail__options__service: ${mail__options__service} # Mailgun
      mail__options__host: ${mail__options__host} # smtp.mailgun.org
      mail__options__port: ${mail__options__port} # 465
      mail__options__secure: ${mail__options__secure} # "true"
      mail__options__auth__user: ${mail__options__auth__user} # postmaster@example.mailgun.org
      mail__options__auth__pass: ${mail__options__auth__pass} # 1234567890
    volumes:
      - ${bind_mount_ghost}:/var/lib/ghost/content
    networks:
      - nginx

  db:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: your_mysql_root_password
      MYSQL_USER: ghost
      MYSQL_PASSWORD: ghostdbpass
      MYSQL_DATABASE: ghostdb
    volumes:
      - ${bind_mount_db}:/var/lib/mysql
    networks:
      - nginx

networks:
  nginx:
    external: true