x-environment: &default-environment
  DATABASE_URL: ${DATABASE_URL} # postgres://postgres:postgres@postgres:5432/postgres
  SECRET_KEY: ${SECRET_KEY} # change_me_to_something_random # best to run openssl rand -hex 32
  PORT: ${PORT} # 8000
  EMAIL_URL: ${EMAIL_URL} # consolemail://
  GLITCHTIP_DOMAIN: ${GLITCHTIP_DOMAIN} # https://glitchtip.example.com
  DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL} # email@example.com
  CELERY_WORKER_AUTOSCALE: ${CELERY_WORKER_AUTOSCALE} # "1,3"

x-depends_on: &default-depends_on
  - redis

services:
  # postgres:
  #   image: postgres:17
  #   environment:
  #     POSTGRES_HOST_AUTH_METHOD: "trust" # Consider removing this and setting a password
  #   restart: unless-stopped
  #   volumes:
  #     - pg-data:/var/lib/postgresql/data
  redis:
    image: valkey/valkey
    restart: unless-stopped
    networks:
      - shared_postgres
      - nginx

  web:
    image: glitchtip/glitchtip
    depends_on: *default-depends_on
    ports:
      - "8000:8000"
    environment: *default-environment
    restart: unless-stopped
    volumes:
      - uploads:/code/uploads
    networks:
      - shared_postgres
      - nginx

  worker:
    image: glitchtip/glitchtip
    command: ./bin/run-celery-with-beat.sh
    depends_on: *default-depends_on
    environment: *default-environment
    restart: unless-stopped
    volumes:
      - uploads:/code/uploads
    networks:
      - shared_postgres
      - nginx

  migrate:
    image: glitchtip/glitchtip
    depends_on: *default-depends_on
    command: ./bin/run-migrate.sh
    environment: *default-environment
    networks:
      - shared_postgres
      - nginx

volumes:
  pg-data:
  uploads:

networks:
  nginx:
    external: true
  shared_postgres:
    external : true
