version: '3.8'

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    volumes:
      - ${OLLAMA_PATH}:/root/.ollama
    #ports:
    #  - "11434:11434"
    restart: unless-stopped
    networks:
      - default


  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: openwebui
    depends_on:
      - ollama
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    #ports:
    #  - "3000:3000" using npm
    volumes:
      - ${OPEN_WEB_UI_PATH}:/app/backend/data
    restart: unless-stopped
    networks:
      - nginx
      - default


networks:
  nginx:
    external: true