version: '3'

services:
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    environment:
      REDIS_PASSWORD: secret
    networks:
     - shared_redis


networks:
  shared_redis:
    external: true
