version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    restart: always
    #ports:
    #  - "6379:6379"
    volumes:
      - ${REDIS_VOLUME_PATH}:/data
    networks:
      - shared_redis

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    restart: always
    #ports:
    #  - "8001:8001"
    depends_on:
      - redis
    networks:
      - shared_redis
      - nginx

networks:
  nginx:
    external: true
  shared_redis:
    external: true
